@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page.css);
@import url(./blocks/header.css);
@import url(./blocks/lead.css);
@import url(./blocks/intro.css);
@import url(./blocks/photo-grid.css);
@import url(./blocks/place.css);
@import url(./blocks/cover.css);
@import url(./blocks/footer.css);

/* tablet 768*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__subtitle {
    margin-top: 99px;
    margin-bottom: 69px;
  }
  .intro__title {
    margin-top: 55px;
    margin-bottom: 15px;
  }

  .intro {
    margin-left: 24px;
  }
  .intro__paragraph {
    margin-top: 42px;
    margin-bottom: 64px;
  }
  .photo-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .photo-grid__item {
    width: 352px;
    height: 264px;
  }
  .place {
    width: 720px;
    grid-template-columns: 1fr;
    column-gap: 28px;
    display: grid;
    grid-template-areas:
      "title webside"
      "image text"
      "button text"
      ". text";
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 340px;
  }

  .place__image {
    width: 340px;
    height: 340px;
  }

  .place__text {
    row-gap: 11px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .place__button {
  }
  .cover {
    margin-bottom: 88px;
    margin-top: 92px;
    width: 768px;
  }

  .cover__background {
    height: 746px;
    object-fit: cover;
  }
  .cover__box {
    width: 100%;
  }
}
/* mobile*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    width: 200px;
    min-width: 100%;
    margin-top: 20px;
    margin-bottom: 50.15px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0em;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .intro {
    margin: 40px 16px 38px 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }
  .intro__text {
    margin-top: 9px;
  }
  .intro__paragraph {
    margin: 0;
  }

  .photo-grid {
    height: 1812px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
  }
  .places {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }

  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    width: 288px;
    margin-bottom: 30px;
    margin-top: 16px;
  }
  .place__webside {
    margin-bottom: 30px;
    align-self: flex-start;
    margin-left: 16px;
    margin-right: 16px;
  }

  .place__image {
    width: 320px;
    height: 320px;
    margin: 0;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
  }
  .place__button {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }

  .cover {
    width: 321.26px;
    height: 254px;
  }

  .cover__background {
    width: 321.26px;
    height: 254px;
  }

  .cover__box {
    width: 321.26px;
    height: 254px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    width: 220px;
  }
  .footer {
    padding-top: 64px;
    padding-bottom: 24px;
  }
}
