.footer {
  background-color: #2a2c2f;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  padding-top: 92px;
  padding-bottom: 24px;
}
