.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  font-family: Inter, sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  max-width: 793px;
  margin: auto;
}

.lead__subtitle {
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 720px;
  margin-top: 32px;
  margin-bottom: 64px;
  -webkit-font-smoothing: antialiased;
}

.lead__image {
  width: 984px;
  max-width: 100%;
}

/* tablet 768*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__subtitle {
    margin-top: 99px;
    margin-bottom: 69px;
  }
}

/* mobile*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0em;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .lead__image {
    width: 320px;
  }
}
